<div class="container">
  <div class="row">
    <div class="col-9">
      <form [formGroup]="newsForm" (ngSubmit)="save()">


        

        <div class="form-group">
          <label for="name">Subject</label>
          <input type="text" class="form-control" formControlName="subject">
             <div *ngIf="f().subject.touched && f().subject.invalid">
            <div class="alert alert-danger"
             *ngIf=" f().subject.errors.required"> Subject is required  
            </div>
            <div class="alert alert-danger"
             *ngIf="f().subject.errors.minlength"> Subject is min characters 5
            </div>
          </div>
        
        </div>


        <div class="form-group">
          <label for="name">Details</label>
          <textarea class="form-control" formControlName="details" ></textarea>

          <div *ngIf="f().details.touched && f().details.invalid">
            <div class="alert alert-danger"
             *ngIf=" f().details.errors.required"> Details is required  
            </div>
            <div class="alert alert-danger"
             *ngIf="f().details.errors.minlength"> Details is min characters 20
            </div>
          </div>
        </div>

        

        <div class="form-group">
          <label for="name">Link</label>
          <input type="text" class="form-control" formControlName="link">

          <div *ngIf="f().link.touched && f().link.invalid">
            <div class="alert alert-danger"
             *ngIf=" f().link.errors.required"> Link is required  
            </div>
            <div class="alert alert-danger"
             *ngIf="f().link.errors.minlength"> Link is min characters 10
            </div>
          </div>

        </div>

        <div class="form-group">
          <label for="name">Validity Date</label>
          <input type="date" class="form-control" formControlName="validityDate">
          <div *ngIf="f().validityDate.touched && f().validityDate.invalid">
            <div class="alert alert-danger"
             *ngIf=" f().validityDate.errors.required"> Date is required  
            </div>
            
          </div>
         
        </div>
        

        <button type="submit"  class="btn btn-secondary">Save</button>

        <button type="button" class="btn btn-info" routerLink="/admin/news"  >Cancel</button>
       
      </form>
    </div>
  </div>
</div>